/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap");
/* Variables */
:root {
  --bg: #111111;
  --bg2: #1d1b21;
  --bg3: #3f3d44;
  --bg4: #5f5f62;
  --fr: #f6f6f6;
  --fr2: #ececec;
  --fr3: #aeaeae;
  --fr4: #8e8e8e;
  --sha: #1d1b213a;
  --sha2: #001aff7a;
  --sha3: #00c8947a;
  --acn: #001aff;
  --acn2: #047bff;
  --acn3: #005bc3;
  --sec: #00c894;
}

/* All components */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fr);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

/* Native components */
body {
  width: 100%;
  background-color: var(--bg2);
}
h1 {
  font-size: calc(1rem + 5vw);
}
h2 {
  font-size: calc(1rem + 2.3vw);
  color: var(--fr4);
}
p {
  font-size: calc(0.3rem + 1vw);
}
span {
  font-size: calc(0.1rem + 1vw);
}
a {
  text-decoration: none;
  font-size: calc(0.3rem + 1vw);
}
label {
  font-size: calc(0.8rem + 1vw);
}
.router-link,
.router-link-active,
.router-link-exact-active,
.router-link-disabled {
  font-size: calc(0.5rem + 1vw);
  outline: none;
  text-decoration: none;
}
.router-link-active {
  color: var(--acn);
}
